@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
    :root {
        --legal-blue: #4D05F8;
        --punch-green: #14F08C;
        --geek-blue: #000575;
        --thinking-blue: #05D5FB;
        --cherry-tech: #fa0550;
    }
    
    * {
        padding: 0%;
        margin: 0%;
        border: 0%;
        background-color: #4D05F8;
        color: white;
        font: 'Raleway', sans-serif;
    }
    

.index {
    /* background-color: #05D5FB; */
    color:#000575;

}

main {
    align-items: center;
    text-align: center;
    
}

/* .titulo {


} */